.projects {
	display: none;
	flex-wrap: wrap;
	padding: 50px 100px 100px 100px;
}
.projects--active {
	display: flex;
}

@media (max-width: 768px) {
	.projects {
	    padding: 50px 50px 100px 50px;
	}
}