.projects {
	display: none;
	padding: 50px 100px 50px 100px;
}
.projects__cont {
	display: flex;
	flex-wrap: wrap;
}
.projects--active {
	display: block;
}
.projects__noresults {
	
}
.projects__title {
	margin-bottom: 20px;
    font-size: 14px;
    color: darkgrey;
}

@media (max-width: 768px) {
	.projects {
	    padding: 50px 50px 100px 50px;
	}
}