@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');

.app {
  background-color: white;
  color: var(--dark);
  font-family: 'Inter', sans-serif;
  padding-bottom: 50px;
}